@use "../../styles/colors" as c;

.paginationDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.pageNumberY {
  font-size: 1.5em;
  color: c.$solarium;
}

.emptyDiv {
  width: 38px;
}
