@use "../../styles/colors" as c;

html,
body {
  height: 100%;
  margin: 0;
}

.headerContainer {
  flex: 0 0 auto;
  width: 100%;
}

.employeePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.detailsPane {
  margin-top: 30px;

  flex: 1;
  background-color: c.$umbra;
  width: 80%;
  padding: 50px;
  min-height: 0;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: inset 1px 1px 15px 5px rgba(0, 0, 0, 0.144);
  .infoSection {
    padding-bottom: 90px;

    .sectionHeading {
      padding-bottom: 30px;
      color: c.$solarium;
      font-weight: 400;
    }
    .info {
      display: flex;
      flex-direction: column;
      padding-top: 25px;
      font-size: 1.1em;
      font-weight: 300;
    }
  }
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 20px;

  .changeBtnContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
