@use "../../styles/colors" as c;

.createPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  .headerContainer {
    flex: 0 0 auto;
    width: 100%;
  }
}
.newEmployeeForm {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.sectionHeading {
  padding-bottom: 10px;
  color: c.$solarium;
  font-size: 1.8em;
  font-weight: 500;
  padding-top: 50px;
  padding-left: 10px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: fixed;
  bottom: 80px;
}

.contractTypeDiv {
  display: flex;
  flex-direction: row;
}
